<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>Calc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exemplo02</servlet-name>
        <servlet-class>calculadora.Exemplo02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Onibus</servlet-name>
        <servlet-class>web.Onibus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnibusErro</servlet-name>
        <servlet-class>web.OnibusErro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAtributo</servlet-name>
        <servlet-class>web.SetAtributo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAtributo</servlet-name>
        <servlet-class>web.GetAtributo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Passagens</servlet-name>
        <servlet-class>web.Passagens</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exemplo02</servlet-name>
        <url-pattern>/Exemplo02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Onibus</servlet-name>
        <url-pattern>/Onibus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnibusErro</servlet-name>
        <url-pattern>/OnibusErro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAtributo</servlet-name>
        <url-pattern>/SetAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAtributo</servlet-name>
        <url-pattern>/GetAtributo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Passagens</servlet-name>
        <url-pattern>/Passagens</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
